body{
	background-image: url(images/cape_town.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
.style{
	color: white; 
	background: black; 
	border-radius: 500px;
}

.box{
	color: white;
	font-size: 20px;
}

ul li{
	list-style-type: none;
	display: inline;
}
@media (max-width: 700px) {
	ul li{
	  list-style-type: none;
	  display: list-item;
	}
  }